{% extends "shop/base.html" %}
{% block title %}Contact Us{% endblock %}
{% load static %}

{% block content %}

<!-- Contact Info Section -->
<div class="container py-5">
    <h1 class="contact-heading mb-5">Contact Us</h1>
    <h3 class="address">Address:</h3>
    <h6 class="address2">
        Model Institute of Engineering and Technology (MIET)<br>
        Kot Bhalwal, Jammu, India
    </h6>
 <div class="d-flex justify-content-end" style="margin-top: 26px;">

        <img src="{% static 'shop/images/contact.png' %}" alt="Contact Logo" class="img-fluid" style="max-height: 400px;">
    </div>





    </div>
</div>

{% endblock %}
